version: '3.8'

services:
  frontend:
    image: node:20-alpine
    container_name: receitas-frontend
    working_dir: /app
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:3000
    command: sh -c "npm install && npm run dev -- --host"

